{% extends "base.html" %}
{% block content %}

<h3 class="center-align main-title cyan-text text-darken-4">Oh CRUD - 404</h3>

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h5 class="center-align cyan-text text-darken-4">
                The requested URL was not found on the server.<br>
                If you entered the URL manually please check your spelling and try again.<br>
                Please use the navbar links to navigate back to the site.
            </h5>
        </div>
    </div>
</div>

{% endblock %}