{% extends "base.html" %}
{% block content %}
<h3 class="cyan-text text-darken-4 center-align">Add Club</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_club') }}">
        <!-- Club Name -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Club Name" name="club_name" id="club_name" minlength="3" maxlength="25"
                    type="text" class="validate" required>
                <label for="club_name">Club Name</label>
            </div>
        </div>
        <!-- Club Image URL -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Club Image URL" name="club_image_url" id="club_image_url" minlength="3" maxlength="250"
                    type="text" class="validate" required>
                <label for="club_image_url">Club Image URL</label>
            </div>
        </div>
        <!-- League ID -->
        <div class="row">
            <div class="input-field col s12">
                <select id="league_id" name="league_id" class="validate" required>
                    <option value="" disabled selected>Select League</option>
                    {% for league in leagues %}
                    <option value="{{ league.id }}">{{ league.league_name }}</option>
                    {% endfor %}
                </select>
                <label for="league_id">League</label>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large cyan darken-4">
                    Add Club +
                </button>
                <button type="reset" class="btn-large red darken-4" onclick="history.go(-1)">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}