<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletico Crud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <script src="https://kit.fontawesome.com/9dd0908621.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>

        <nav class="cyan darken-4">
            <div class="nav-wrapper">
                {% if session.user %}
                    <a href="{{ url_for('profile', username=session['user']) }}" class="brand-logo {% if session.user|lower == 'admin'|lower %}left{% else %}center{% endif %} main-title">
                        Atletico Crud 
                        {% if session.user|lower == "admin"|lower %}
                            Admin
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ url_for('home') }}" class="brand-logo center main-title">Atletico Crud</a>
                {% endif %}
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('countries') }}">Countries</a></li>
                        <li><a href="{{ url_for('leagues', country_id=0) }}">Leagues</a></li>
                        <li><a href="{{ url_for('clubs', league_id=0) }}">Clubs</a></li>
                        <li><a href="{{ url_for('players', club_id=0) }}">Players</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('countries') }}">Countries</a></li>
                <li><a href="{{ url_for('leagues', country_id=0) }}">Leagues</a></li>
                <li><a href="{{ url_for('clubs', league_id=0) }}">Clubs</a></li>
                <li><a href="{{ url_for('players', club_id=0) }}">Players</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>

    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="cyan darken-4 white-text center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer cyan darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Atletico Crud</h5>
                    <p class="grey-text text-lighten-4">Developed by <a href="#">Sion Jones</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>