<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atletico Crud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>

    <header>

        <nav class="cyan darken-4">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo main-title">Atletico Crud</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('countries') }}">Countries</a></li>
                    <li><a href="{{ url_for('add_country') }}">Add Country</a></li>
                    <li><a href="{{ url_for('add_league') }}">Add League</a></li>
                    <li><a href="{{ url_for('add_club') }}">Add Club</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('countries') }}">Countries</a></li>
            <li><a href="{{ url_for('add_country') }}">Add Country</a></li>
            <li><a href="{{ url_for('add_league') }}">Add League</a></li>
            <li><a href="{{ url_for('add_club') }}">Add Club</a></li>
        </ul>

    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer cyan darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Atletico Crud</h5>
                    <p class="grey-text text-lighten-4">Developed by <a href="#">Sion Jones</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>