{% extends "base.html" %}
{% block content %}

<h3 class="center-align main-title cyan-text text-darken-4">Form Submitted!</h3>

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <p class="center-align cyan-text text-darken-4">
                Thank you for your suggestion {{username}}!
                The Atletico Crud team will review your suggestion - keep an eye on the
                website to see if your submission appears!
                You will now be redirected back to the site.
            </p>
        </div>
    </div>
</div>

{% endblock %}