{% extends "base.html" %}
{% block content %}
<h3 class="cyan darken-4 center-align white-text">Select Your Country!</h3>

<div class="row">
    {% for country in countries %}
    <div class="col s12 m6 l3">
        <div class="card cyan darken-4">
          <div class="card-content white-text">
            <span class="card-title">{{ country.country_name }}</span>
          </div>
          <div class="card-action">
            <a href="#">View Leagues</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_country') }}" class="btn-large cyan darken-4 white-text">
            Add Country +
        </a>
    </div>
</div>
{% endblock %}