{% extends "base.html" %}
{% block content %}
<h3 class="cyan darken-4 center-align white-text">Edit Country</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_country', country_id=country.id) }}">
        <!-- Country Name -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Country Name" name="country_name" value="{{ country.country_name}}"
                    id="country_name" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="country_name">Country Name</label>
            </div>
        </div>
        <!-- Country Image URL -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Country Image URL" name="country_image_url" value="{{ country.country_image_url}}"
                    id="country_image_url" minlength="3" maxlength="250" type="text" class="validate" required>
                <label for="country_image_url">Country Image URL</label>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large cyan darken-4">
                    Edit Country +
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}