{% extends "base.html" %}
{% block content %}
<h3 class="cyan-text text-darken-4 center-align">Edit Player Info</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_playera', player_id=player._id) }}">
        <!-- Player Name -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Name" name="player_name" value="{{ player.name }}" id="player_name"
                    minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="player_name">Player Name</label>
            </div>
        </div>

        <!-- Player Image URL -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Club Image URL" name="player_image_url" value="{{ player.image_url }}"
                    id="player_image_url" minlength="3" maxlength="250" type="text" class="validate" required>
                <label for="player_image_url">Player Image URL</label>
            </div>
        </div>

        <!-- Player DOB -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player DOB" name="player_dob" value="{{ player.dob }}" id="player_dob"
                    minlength="3" maxlength="25" type="text" class="datepicker" required>
                <label for="player_dob">Player DOB</label>
            </div>
        </div>

        <!-- Player Nationality -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Nationality" name="player_nationality" value="{{ player.nationality }}"
                    id="player_nationality" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="player_nationality">Player Nationality</label>
            </div>
        </div>

        <!-- Player Position -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Position" name="player_position" value="{{ player.position }}"
                    id="player_position" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="player_position">Player Position</label>
            </div>
        </div>

        <!-- Club ID -->
        <div class="row">
            <div class="input-field col s12">
                <select id="club_id" name="club_id" class="validate" required>
                    <option value="" disabled selected>Select Club</option>
                    {% for club in clubs %}
                    <option value="{{ club.id }}">{{ club.club_name }}</option>
                    {% endfor %}
                </select>
                <label for="club_id">Club</label>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large cyan darken-4">
                    Edit Player +
                </button>
                <button type="reset" class="btn-large red darken-4" onclick="history.go(-1)">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}