{% extends "base.html" %}
{% block content %}
<h3 class="cyan darken-4 center-align white-text">Edit Player</h3>

<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_player', player_id=player.id) }}">
        <!-- Player Name -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Name" name="player_name" value="{{ player.player_name}}" id="player_name" minlength="3" maxlength="25"
                    type="text" class="validate" required>
                <label for="player_name">Player Name</label>
            </div>
        </div>
        <!-- Player DOB -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player DOB" name="player_dob" value="{{ player.player_dob }}" id="player_dob" type="text"
                    class="datepicker validate" required>
                <label for="player_dob">Player DOB</label>
            </div>
        </div>
        <!-- Player Age -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Age" name="player_age" value="{{ player.player_age}}" id="player_age" minlength="2" maxlength="2"
                    type="text" class="validate" required>
                <label for="player_age">Player Age</label>
            </div>
        </div>
        <!-- Player Nationality -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Nationality" name="player_nationality" value="{{ player.player_nationality }}" id="player_nationality"
                    minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="player_nationality">Player Nationality</label>
            </div>
        </div>
        <!-- Player Position -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Position" name="player_position" value="{{ player.player_position }}" id="player_position" minlength="3"
                    maxlength="25" type="text" class="validate" required>
                <label for="player_position">Player Position</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Upload Player Image: <input type="file"></p>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large cyan darken-4">
                    Edit Player +
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}