{% extends "base.html" %}
{% block content %}

<h3 class="cyan-text text-darken-4 center-align">Player Submission Form</h3>

<div class="row">
    <form class="col s12" action="{{ url_for('confirmation') }}">
        <!-- Player Name -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Name" name="player_name" id="player_name" minlength="3" maxlength="25"
                    type="text" class="validate" required>
                <label for="player_name">Player Name</label>
            </div>
        </div>

        <!-- Player DOB -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player DOB" name="player_dob" id="player_dob" minlength="3" maxlength="25"
                    type="text" class="datepicker" required>
                <label for="player_dob">Player DOB</label>
            </div>
        </div>

        <!-- Player Nationality -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Nationality" name="player_nationality" id="player_nationality"
                    minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="player_nationality">Player Nationality</label>
            </div>
        </div>

        <!-- Player Position -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Player Position" name="player_position" id="player_position" minlength="3"
                    maxlength="25" type="text" class="validate" required>
                <label for="player_position">Player Position</label>
            </div>
        </div>

        <!-- Club Name -->
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Input Club Name" name="player_club" id="player_club" minlength="3" maxlength="25"
                    type="text" class="text" required>
                <label for="player_club">Club</label>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large cyan darken-4">
                    Submit +
                </button>
                <button type="reset" class="btn-large red darken-4" onclick="history.go(-1)">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}