{% extends "base.html" %}
{% block content %}
<h3 class="cyan darken-4 center-align white-text">Welcome to Atletico Crud!</h3>
<p class="cyan darken-4 center-align white-text">
    Atletico Crud is a database which lists the modern day legends that have played for clubs across multiple nations.
    The database is always expanding and please feel free to use the 'proposal form' to submit a legend you'd like to
    see added to the database and why!
    Use the buttons below to login or register to join Atletico Crud - enjoy!
</p>
<div class="row">
    <a href="{{ url_for('login') }}" class="col s12 btn-small cyan darken-4 white-text text-shadow">
        Log In to Atletico Crud
    </a>
</div>
<div class="row">
    <a href="{{ url_for('register') }}" class="col s12 btn-small cyan darken-4 white-text text-shadow">
        Register to Join Atletico Crud
    </a>
</div>
{% endblock %}