{% extends "base.html" %}
{% block content %}
<h3 class="cyan darken-4 center-align white-text">Select Your League!</h3>

<div class="row">
    {% for league in leagues %}
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static',filename='images/england-flag.png')}}">
            </div>
            <div class="card-action">
                <a href="#">{{ league.league_name }}</a>
                <a href="#" class="btn green">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_league') }}" class="btn-large cyan darken-4 white-text">
            Add League +
        </a>
    </div>
</div>
{% endblock %}