{% extends "base.html" %}
{% block content %}
<h3 class="center-align main-title cyan-text text-darken-4">Players:</h3>

{% for player in playersa %}
<ul class="collection">
    <li class="collection-item">Name: {{ player.name }}</li>
    <li class="collection-item">DOB: {{ player.dob }}</li>
    <li class="collection-item">Nationality: {{ player.nationality }}</li>
    <li class="collection-item">Position: {{ player.position }}</li>
{% endfor %}

    {% if session.user|lower == "admin"|lower %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_playera') }}"  class="btn-large cyan darken-4 white-text">
                Add Playersa +
            </a>
        </div>
    </div>
    {% endif %}
    {% endblock %}