{% extends "base.html" %}
{% block content %}
<h3 class="center-align main-title cyan-text text-darken-4">Players:</h3>

{% for player in playersa %}
<ul class="collection">
    <li class="collection-item avatar">
        <img src="{{ player.image_url }}" alt="Image of {{ player.name }}" class="circle">
        <span class="title">{{ player.name }}</span>
        <p>DOB: {{ player.dob }} <br>
            Nationality: {{ player.nationality }} <br>
            Position: {{ player.position }}
        </p>
        <a href="#" class="secondary-content"><i class="material-icons">Club</i></a>
    </li>
</ul>
{% endfor %}

    {% if session.user|lower == "admin"|lower %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_playera') }}"  class="btn-large cyan darken-4 white-text">
                Add Players +
            </a>
        </div>
    </div>
    {% endif %}
    {% endblock %}