/* Import google font Monoton */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.main-title {
  font-family: 'Monoton', cursive;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

/* Materialize stick footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }