/* Import google font Monoton */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.main-title {
  font-family: 'Monoton', cursive;
}

img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.card-style {
  text-align: center;
}

.card-text-style {
  text-transform: none !important;
  color: darkcyan !important;
}

.btn-style {
  text-transform: none !important;
}

/* Materialize stick footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.name-link {
  text-decoration: none !important;
  color: #ffffff;
}

.name-link:hover {
  background-color: #ffffff;
  color: darkcyan;
}